function Perfect.move 0
push argument 0
push constant 5686
eq
not
if-goto PERFECT_START
push constant 1024
return
push argument 0
push constant 4246
eq
not
if-goto PERFECT_START
push constant 768
return
push argument 0
push constant 4229
eq
not
if-goto PERFECT_START
push constant 64
return
push argument 0
push constant 4228
eq
not
if-goto PERFECT_START
push constant 1024
return
push argument 0
push constant 4174
eq
not
if-goto PERFECT_START
push constant 1280
return
push argument 0
push constant 4092
eq
not
if-goto PERFECT_START
push constant 256
return
push argument 0
push constant 4084
eq
not
if-goto PERFECT_START
push constant 768
return
push argument 0
push constant 4073
eq
not
if-goto PERFECT_START
push constant 64
return
push argument 0
push constant 4066
eq
not
if-goto PERFECT_START
push constant 1024
return
push argument 0
push constant 4064
eq
not
if-goto PERFECT_START
push constant 1024
return
push argument 0
push constant 4055
eq
not
if-goto PERFECT_START
push constant 64
return
push argument 0
push constant 3959
eq
not
if-goto PERFECT_START
push constant 16
return
push argument 0
push constant 3958
eq
not
if-goto PERFECT_START
push constant 1280
return
push argument 0
push constant 3932
eq
not
if-goto PERFECT_START
push constant 1280
return
push argument 0
push constant 3930
eq
not
if-goto PERFECT_START
push constant 1280
return
push argument 0
push constant 3922
eq
not
if-goto PERFECT_START
push constant 768
return
push argument 0
push constant 3921
eq
not
if-goto PERFECT_START
push constant 1280
return
push argument 0
push constant 3905
eq
not
if-goto PERFECT_START
push constant 16
return
push argument 0
push constant 3904
eq
not
if-goto PERFECT_START
push constant 1280
return
push argument 0
push constant 3903
eq
not
if-goto PERFECT_START
push constant 1280
return
push argument 0
push constant 3902
eq
not
if-goto PERFECT_START
push constant 1024
return
push argument 0
push constant 3896
eq
not
if-goto PERFECT_START
push constant 16
return
push argument 0
push constant 3895
eq
not
if-goto PERFECT_START
push constant 1280
return
push argument 0
push constant 3893
eq
not
if-goto PERFECT_START
push constant 1024
return
label PERFECT_START
push argument 0
pop jumptable 0
push jumptable 64
push jumptable 768
push jumptable 48
push jumptable 1280
push jumptable 768
push jumptable 68
push jumptable 48
push jumptable 84
push jumptable -1
push jumptable 256
push jumptable 1024
push jumptable 96
push jumptable 1024
push jumptable -1
push jumptable 1028
push jumptable 96
push jumptable 1032
push jumptable 96
push jumptable 16
push jumptable 32
push jumptable -1
push jumptable 16
push jumptable 1536
push jumptable 64
push jumptable -1
push jumptable 64
push jumptable -1
push jumptable 256
push jumptable 1792
push jumptable 128
push jumptable 1536
push jumptable -1
push jumptable 1542
push jumptable 128
push jumptable 1799
push jumptable 128
push jumptable 1280
push jumptable -1
push jumptable 1285
push jumptable -1
push jumptable -1
push jumptable 1280
push jumptable 1280
push jumptable 1280
push jumptable 85
push jumptable 128
push jumptable 1799
push jumptable 128
push jumptable 1536
push jumptable 1536
push jumptable 86
push jumptable 128
push jumptable 87
push jumptable -1
push jumptable 16
push jumptable 32
push jumptable -1
push jumptable 16
push jumptable 2048
push jumptable 112
push jumptable -1
push jumptable 96
push jumptable -1
push jumptable 96
push jumptable 2048
push jumptable 96
push jumptable 2048
push jumptable 2048
push jumptable 119
push jumptable 96
push jumptable 102
push jumptable -1
push jumptable -1
push jumptable 32
push jumptable -1
push jumptable 16
push jumptable 80
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 512
push jumptable 1536
push jumptable 66
push jumptable 2048
push jumptable -1
push jumptable 2056
push jumptable 48
push jumptable 1027
push jumptable 48
push jumptable 1024
push jumptable -1
push jumptable 1028
push jumptable -1
push jumptable -1
push jumptable 1024
push jumptable 1024
push jumptable 1024
push jumptable 68
push jumptable 32
push jumptable 1538
push jumptable 128
push jumptable 2048
push jumptable 1536
push jumptable 136
push jumptable 16
push jumptable 64
push jumptable -1
push jumptable 768
push jumptable -1
push jumptable 771
push jumptable -1
push jumptable -1
push jumptable 768
push jumptable 768
push jumptable 768
push jumptable 51
push jumptable -1
push jumptable -1
push jumptable 2048
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1792
push jumptable -1
push jumptable 8
push jumptable 1536
push jumptable 1536
push jumptable 130
push jumptable 1536
push jumptable -1
push jumptable 1536
push jumptable 128
push jumptable 1799
push jumptable 128
push jumptable 16
push jumptable 2048
push jumptable 112
push jumptable 2048
push jumptable 2048
push jumptable 120
push jumptable 96
push jumptable 102
push jumptable -1
push jumptable 2048
push jumptable 2048
push jumptable 119
push jumptable 2048
push jumptable -1
push jumptable 2055
push jumptable 96
push jumptable 1542
push jumptable 96
push jumptable 32
push jumptable 34
push jumptable -1
push jumptable 16
push jumptable 2048
push jumptable 128
push jumptable -1
push jumptable 96
push jumptable -1
push jumptable 32
push jumptable 34
push jumptable -1
push jumptable 16
push jumptable 1024
push jumptable 64
push jumptable -1
push jumptable 128
push jumptable -1
push jumptable 96
push jumptable 512
push jumptable 96
push jumptable 256
push jumptable 1024
push jumptable 102
push jumptable 96
push jumptable 136
push jumptable -1
push jumptable -1
push jumptable 32
push jumptable -1
push jumptable 16
push jumptable 64
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 128
push jumptable 1799
push jumptable 128
push jumptable 1536
push jumptable 768
push jumptable 54
push jumptable 128
push jumptable 135
push jumptable -1
push jumptable 256
push jumptable 1792
push jumptable 32
push jumptable 1536
push jumptable -1
push jumptable 1542
push jumptable 128
push jumptable 1800
push jumptable 96
push jumptable 128
push jumptable 39
push jumptable -1
push jumptable 16
push jumptable 1536
push jumptable 96
push jumptable -1
push jumptable 112
push jumptable -1
push jumptable -1
push jumptable 32
push jumptable -1
push jumptable 16
push jumptable 48
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 96
push jumptable 32
push jumptable -1
push jumptable 16
push jumptable 2048
push jumptable 96
push jumptable -1
push jumptable 96
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1024
push jumptable -1
push jumptable 1028
push jumptable 48
push jumptable 1796
push jumptable 48
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1024
push jumptable 256
push jumptable 2048
push jumptable 32
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1028
push jumptable 1024
push jumptable 68
push jumptable 128
push jumptable 87
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 256
push jumptable 1792
push jumptable 48
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 256
push jumptable -1
push jumptable 1280
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 135
push jumptable 1799
push jumptable 128
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 2049
push jumptable 2048
push jumptable 119
push jumptable 48
push jumptable 48
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 2048
push jumptable -1
push jumptable 1287
push jumptable 112
push jumptable 2048
push jumptable 112
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 85
push jumptable 1285
push jumptable 80
push jumptable -1
push jumptable 80
push jumptable -1
push jumptable 2048
push jumptable -1
push jumptable 2052
push jumptable -1
push jumptable -1
push jumptable 768
push jumptable 256
push jumptable 1024
push jumptable 48
push jumptable -1
push jumptable -1
push jumptable 2048
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 256
push jumptable -1
push jumptable 512
push jumptable 1028
push jumptable 1024
push jumptable 68
push jumptable 256
push jumptable -1
push jumptable 1024
push jumptable 64
push jumptable 1796
push jumptable 128
push jumptable -1
push jumptable -1
push jumptable 2048
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 256
push jumptable -1
push jumptable 512
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 256
push jumptable -1
push jumptable 257
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 256
push jumptable 1792
push jumptable 128
push jumptable 1539
push jumptable 1536
push jumptable 51
push jumptable 2048
push jumptable -1
push jumptable 2055
push jumptable 48
push jumptable 2048
push jumptable 48
push jumptable 1536
push jumptable -1
push jumptable 1542
push jumptable -1
push jumptable -1
push jumptable 1792
push jumptable 256
push jumptable 2048
push jumptable 32
push jumptable 85
push jumptable 1541
push jumptable 32
push jumptable 2056
push jumptable 2048
push jumptable 120
push jumptable 16
push jumptable 112
push jumptable -1
push jumptable 18
push jumptable 774
push jumptable 16
push jumptable 1028
push jumptable 1024
push jumptable 52
push jumptable 48
push jumptable 136
push jumptable -1
push jumptable 1542
push jumptable 256
push jumptable 20
push jumptable 1024
push jumptable -1
push jumptable 1024
push jumptable 112
push jumptable 2056
push jumptable 112
push jumptable 16
push jumptable 22
push jumptable -1
push jumptable 68
push jumptable 1028
push jumptable 64
push jumptable -1
push jumptable 64
push jumptable -1
push jumptable 2056
push jumptable 256
push jumptable 22
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 136
push jumptable 1800
push jumptable 48
push jumptable 256
push jumptable -1
push jumptable 1536
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 264
push jumptable 2048
push jumptable 32
push jumptable 24
push jumptable 2054
push jumptable 16
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 128
push jumptable 135
push jumptable -1
push jumptable 16
push jumptable 24
push jumptable -1
push jumptable 51
push jumptable 771
push jumptable 48
push jumptable -1
push jumptable 48
push jumptable -1
push jumptable 22
push jumptable 1542
push jumptable 16
push jumptable 2048
push jumptable 2048
push jumptable 16
push jumptable 112
push jumptable 112
push jumptable -1
push jumptable -1
push jumptable 16
push jumptable -1
push jumptable 80
push jumptable 8
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 16
push jumptable 776
push jumptable 128
push jumptable -1
push jumptable 64
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1280
push jumptable 2048
push jumptable 112
push jumptable 64
push jumptable 68
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 16
push jumptable 40
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 768
push jumptable 768
push jumptable 128
push jumptable 128
push jumptable 55
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1280
push jumptable -1
push jumptable 1280
push jumptable 21
push jumptable 1280
push jumptable 80
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 16
push jumptable 256
push jumptable 128
push jumptable -1
push jumptable 112
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 16
push jumptable 40
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 16
push jumptable 2048
push jumptable 112
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 32
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 102
push jumptable 260
push jumptable 64
push jumptable 2056
push jumptable 768
push jumptable 136
push jumptable 64
push jumptable 68
push jumptable -1
push jumptable 258
push jumptable 256
push jumptable 65
push jumptable 256
push jumptable -1
push jumptable 1024
push jumptable 68
push jumptable 1028
push jumptable 64
push jumptable 96
push jumptable 100
push jumptable -1
push jumptable 24
push jumptable 1536
push jumptable 128
push jumptable -1
push jumptable 64
push jumptable -1
push jumptable 257
push jumptable 256
push jumptable 17
push jumptable 768
push jumptable -1
push jumptable 768
push jumptable 19
push jumptable 768
push jumptable 48
push jumptable 256
push jumptable -1
push jumptable 257
push jumptable -1
push jumptable -1
push jumptable 256
push jumptable 1281
push jumptable -1
push jumptable 5
push jumptable 97
push jumptable 262
push jumptable 16
push jumptable 256
push jumptable 256
push jumptable 136
push jumptable 128
push jumptable 119
push jumptable -1
push jumptable 128
push jumptable 134
push jumptable -1
push jumptable 24
push jumptable 2048
push jumptable 128
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 136
push jumptable 262
push jumptable 128
push jumptable 2056
push jumptable 2048
push jumptable 120
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 128
push jumptable -1
push jumptable 16
push jumptable 32
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 128
push jumptable -1
push jumptable 16
push jumptable 32
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 64
push jumptable 16
push jumptable -1
push jumptable 16
push jumptable 1024
push jumptable 64
push jumptable -1
push jumptable 64
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 32
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 96
push jumptable 16
push jumptable -1
push jumptable 16
push jumptable 1792
push jumptable 128
push jumptable -1
push jumptable 112
push jumptable -1
push jumptable 21
push jumptable 1792
push jumptable 96
push jumptable 256
push jumptable 1792
push jumptable 128
push jumptable 128
push jumptable 135
push jumptable -1
push jumptable -1
push jumptable 96
push jumptable -1
push jumptable 16
push jumptable 32
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 32
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 128
push jumptable -1
push jumptable 16
push jumptable 0
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1024
push jumptable 96
push jumptable 256
push jumptable -1
push jumptable 1540
push jumptable 128
push jumptable 1024
push jumptable 96
push jumptable -1
push jumptable -1
push jumptable 512
push jumptable -1
push jumptable -1
push jumptable 1024
push jumptable 1024
push jumptable 1024
push jumptable 100
push jumptable -1
push jumptable 1024
push jumptable 128
push jumptable 256
push jumptable 1536
push jumptable 66
push jumptable 128
push jumptable 64
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 512
push jumptable -1
push jumptable -1
push jumptable 1536
push jumptable 256
push jumptable 0
push jumptable 131
push jumptable -1
push jumptable -1
push jumptable 512
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 256
push jumptable -1
push jumptable 1280
push jumptable -1
push jumptable -1
push jumptable 128
push jumptable 256
push jumptable -1
push jumptable 1538
push jumptable 16
push jumptable 1792
push jumptable 128
push jumptable -1
push jumptable 2048
push jumptable 96
push jumptable 512
push jumptable 2048
push jumptable 49
push jumptable 128
push jumptable 98
push jumptable -1
push jumptable -1
push jumptable 2048
push jumptable 96
push jumptable 512
push jumptable -1
push jumptable 2049
push jumptable 128
push jumptable 1282
push jumptable 96
push jumptable -1
push jumptable 80
push jumptable -1
push jumptable 80
push jumptable 1288
push jumptable 80
push jumptable -1
push jumptable 80
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 518
push jumptable -1
push jumptable -1
push jumptable 2048
push jumptable 768
push jumptable 1024
push jumptable 48
push jumptable -1
push jumptable -1
push jumptable 512
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1024
push jumptable -1
push jumptable 1024
push jumptable -1
push jumptable 1536
push jumptable 136
push jumptable 256
push jumptable -1
push jumptable 2056
push jumptable 128
push jumptable 1024
push jumptable 128
push jumptable -1
push jumptable -1
push jumptable 512
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 768
push jumptable -1
push jumptable 768
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 512
push jumptable -1
push jumptable -1
push jumptable 1536
push jumptable -1
push jumptable -1
push jumptable 128
push jumptable -1
push jumptable 2048
push jumptable 104
push jumptable 512
push jumptable -1
push jumptable 2056
push jumptable 128
push jumptable 768
push jumptable 96
push jumptable -1
push jumptable -1
push jumptable 512
push jumptable -1
push jumptable -1
push jumptable 2048
push jumptable 256
push jumptable 1536
push jumptable 96
push jumptable -1
push jumptable 512
push jumptable 128
push jumptable 512
push jumptable 1536
push jumptable 136
push jumptable 128
push jumptable 96
push jumptable -1
push jumptable 128
push jumptable 1024
push jumptable 96
push jumptable 256
push jumptable 1024
push jumptable 70
push jumptable 128
push jumptable 128
push jumptable -1
push jumptable 256
push jumptable 1024
push jumptable 102
push jumptable 512
push jumptable -1
push jumptable 1542
push jumptable 128
push jumptable 1024
push jumptable 96
push jumptable 128
push jumptable 64
push jumptable -1
push jumptable 64
push jumptable 1024
push jumptable 64
push jumptable -1
push jumptable 64
push jumptable -1
push jumptable 256
push jumptable 768
push jumptable 134
push jumptable 256
push jumptable -1
push jumptable 1542
push jumptable 16
push jumptable 768
push jumptable 128
push jumptable 256
push jumptable -1
push jumptable 514
push jumptable -1
push jumptable -1
push jumptable 1536
push jumptable 256
push jumptable -1
push jumptable 128
push jumptable 0
push jumptable 0
push jumptable 128
push jumptable 256
push jumptable 0
push jumptable 102
push jumptable 16
push jumptable 0
push jumptable -1
push jumptable 128
push jumptable 48
push jumptable -1
push jumptable 48
push jumptable 768
push jumptable 48
push jumptable -1
push jumptable 48
push jumptable -1
push jumptable 0
push jumptable 2048
push jumptable 96
push jumptable 512
push jumptable 2048
push jumptable 102
push jumptable 128
push jumptable 96
push jumptable -1
push jumptable -1
push jumptable 0
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 768
push jumptable 2048
push jumptable 768
push jumptable 56
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 256
push jumptable -1
push jumptable 520
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 256
push jumptable -1
push jumptable 1024
push jumptable 128
push jumptable 1024
push jumptable 128
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 256
push jumptable -1
push jumptable 520
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 512
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 256
push jumptable 1792
push jumptable 136
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 2048
push jumptable -1
push jumptable 2049
push jumptable 16
push jumptable 2056
push jumptable 48
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 2048
push jumptable 2048
push jumptable 2048
push jumptable 8
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 2048
push jumptable 1280
push jumptable 88
push jumptable 128
push jumptable 88
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 256
push jumptable -1
push jumptable 512
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 512
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1024
push jumptable 2056
push jumptable 1024
push jumptable 136
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 512
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 256
push jumptable -1
push jumptable 0
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 2048
push jumptable 2056
push jumptable 2048
push jumptable 56
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 256
push jumptable -1
push jumptable 512
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 2048
push jumptable -1
push jumptable 2056
push jumptable 136
push jumptable 2056
push jumptable 128
push jumptable 1538
push jumptable 1536
push jumptable 8
push jumptable 256
push jumptable -1
push jumptable 1024
push jumptable 136
push jumptable 1032
push jumptable 48
push jumptable 1536
push jumptable -1
push jumptable 1540
push jumptable -1
push jumptable -1
push jumptable 1024
push jumptable 2056
push jumptable 2048
push jumptable 0
push jumptable 2
push jumptable 1026
push jumptable -1
push jumptable 1028
push jumptable 1024
push jumptable 68
push jumptable 128
push jumptable 68
push jumptable -1
push jumptable 2048
push jumptable -1
push jumptable 2048
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 264
push jumptable 768
push jumptable 136
push jumptable -1
push jumptable -1
push jumptable 2048
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 256
push jumptable -1
push jumptable 512
push jumptable 2050
push jumptable 2048
push jumptable 6
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 129
push jumptable 0
push jumptable 128
push jumptable 2
push jumptable 1538
push jumptable -1
push jumptable 2051
push jumptable 768
push jumptable 56
push jumptable 48
push jumptable 56
push jumptable -1
push jumptable 1538
push jumptable 1536
push jumptable 2
push jumptable 2048
push jumptable -1
push jumptable 2048
push jumptable 0
push jumptable 2056
push jumptable -1
push jumptable -1
push jumptable 2
push jumptable -1
push jumptable 2
push jumptable 1538
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 768
push jumptable 768
push jumptable 67
push jumptable 64
push jumptable 68
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1024
push jumptable -1
push jumptable 1280
push jumptable 64
push jumptable 1028
push jumptable 64
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 16
push jumptable 1536
push jumptable 128
push jumptable -1
push jumptable 64
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 768
push jumptable -1
push jumptable 771
push jumptable 16
push jumptable 768
push jumptable 128
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1280
push jumptable 256
push jumptable -1
push jumptable 85
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1792
push jumptable 1536
push jumptable 128
push jumptable 16
push jumptable 1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 16
push jumptable 768
push jumptable 48
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 2048
push jumptable 2048
push jumptable 80
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 16
push jumptable 80
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 768
push jumptable -1
push jumptable 2048
push jumptable 64
push jumptable 1028
push jumptable 64
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1024
push jumptable 1024
push jumptable 1024
push jumptable 68
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1024
push jumptable 1536
push jumptable 128
push jumptable 64
push jumptable 68
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 768
push jumptable 256
push jumptable -1
push jumptable 51
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1792
push jumptable -1
push jumptable 512
push jumptable 16
push jumptable -1
push jumptable 128
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 2048
push jumptable 768
push jumptable 128
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 2048
push jumptable -1
push jumptable 2048
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 16
push jumptable 1536
push jumptable 128
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 96
push jumptable 131
push jumptable -1
push jumptable 17
push jumptable 1024
push jumptable 48
push jumptable -1
push jumptable 64
push jumptable -1
push jumptable 132
push jumptable 1028
push jumptable 64
push jumptable 256
push jumptable 1024
push jumptable 64
push jumptable 16
push jumptable 68
push jumptable -1
push jumptable -1
push jumptable 128
push jumptable -1
push jumptable 16
push jumptable 32
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 99
push jumptable 771
push jumptable 96
push jumptable 257
push jumptable 768
push jumptable 128
push jumptable 16
push jumptable 3
push jumptable -1
push jumptable 1285
push jumptable -1
push jumptable 98
push jumptable 256
push jumptable -1
push jumptable 2048
push jumptable 129
push jumptable -1
push jumptable 128
push jumptable 96
push jumptable 102
push jumptable -1
push jumptable 17
push jumptable 1542
push jumptable 128
push jumptable -1
push jumptable 0
push jumptable -1
push jumptable -1
push jumptable 128
push jumptable -1
push jumptable 16
push jumptable 32
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 128
push jumptable 136
push jumptable -1
push jumptable 16
push jumptable 2048
push jumptable 128
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 48
push jumptable 512
push jumptable 64
push jumptable -1
push jumptable 32
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 96
push jumptable 2048
push jumptable 2048
push jumptable 64
push jumptable 64
push jumptable 32
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 32
push jumptable 32
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 128
push jumptable 2048
push jumptable 2048
push jumptable 50
push jumptable 32
push jumptable 32
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 32
push jumptable 2048
push jumptable -1
push jumptable 1280
push jumptable 16
push jumptable 1280
push jumptable 80
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 16
push jumptable 512
push jumptable 96
push jumptable -1
push jumptable 32
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 48
push jumptable 32
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 512
push jumptable 112
push jumptable -1
push jumptable 128
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 32
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 64
push jumptable 2048
push jumptable 2048
push jumptable 64
push jumptable 32
push jumptable 32
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 64
push jumptable 2048
push jumptable -1
push jumptable 1024
push jumptable 64
push jumptable 1024
push jumptable 64
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 32
push jumptable 512
push jumptable 128
push jumptable -1
push jumptable 32
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 32
push jumptable 2048
push jumptable -1
push jumptable 770
push jumptable 16
push jumptable 768
push jumptable 48
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 0
push jumptable -1
push jumptable -1
push jumptable 8
push jumptable -1
push jumptable -1
push jumptable 128
push jumptable 2048
push jumptable 2048
push jumptable 98
push jumptable 32
push jumptable 32
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 16
push jumptable 512
push jumptable 96
push jumptable -1
push jumptable 128
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 256
push jumptable 512
push jumptable 96
push jumptable 16
push jumptable 128
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 16
push jumptable 32
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 48
push jumptable 32
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 512
push jumptable 96
push jumptable -1
push jumptable 32
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 32
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 16
push jumptable 512
push jumptable 96
push jumptable -1
push jumptable 32
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 96
push jumptable 2048
push jumptable 2048
push jumptable 96
push jumptable 32
push jumptable 32
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 32
push jumptable 32
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 32
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1024
push jumptable 1024
push jumptable 68
push jumptable 48
push jumptable 48
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1024
push jumptable -1
push jumptable 1024
push jumptable 0
push jumptable 1024
push jumptable 32
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 16
push jumptable 1024
push jumptable 64
push jumptable -1
push jumptable 64
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 16
push jumptable 768
push jumptable 48
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1280
push jumptable 1280
push jumptable 40
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 128
push jumptable 128
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 16
push jumptable 2048
push jumptable 48
push jumptable -1
push jumptable 48
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 256
push jumptable 2048
push jumptable 112
push jumptable 0
push jumptable 0
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 16
push jumptable 80
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 256
push jumptable -1
push jumptable 1024
push jumptable 48
push jumptable 768
push jumptable 48
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1024
push jumptable 1024
push jumptable 1024
push jumptable 32
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1024
push jumptable 1024
push jumptable 64
push jumptable 16
push jumptable 64
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 768
push jumptable 768
push jumptable 48
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1792
push jumptable -1
push jumptable 8
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 128
push jumptable 2048
push jumptable 128
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 2048
push jumptable 2048
push jumptable 48
push jumptable 48
push jumptable 48
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 256
push jumptable -1
push jumptable 1536
push jumptable 0
push jumptable 2048
push jumptable 0
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 16
push jumptable 2048
push jumptable -1
push jumptable -1
push jumptable 128
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 16
push jumptable 1024
push jumptable 48
push jumptable -1
push jumptable 48
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1024
push jumptable 1024
push jumptable 64
push jumptable 0
push jumptable 0
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 16
push jumptable 64
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 48
push jumptable 136
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 0
push jumptable 2056
push jumptable 32
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 128
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 16
push jumptable 48
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 112
push jumptable 2048
push jumptable -1
push jumptable -1
push jumptable 0
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 16
push jumptable 32
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 128
push jumptable 2048
push jumptable 64
push jumptable -1
push jumptable 64
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 32
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 128
push jumptable 768
push jumptable 128
push jumptable -1
push jumptable 128
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1280
push jumptable 2048
push jumptable 128
push jumptable 80
push jumptable 128
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 16
push jumptable 32
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 32
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 16
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 128
push jumptable 2048
push jumptable 128
push jumptable -1
push jumptable 48
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1024
push jumptable 2048
push jumptable 64
push jumptable 64
push jumptable 64
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 16
push jumptable 32
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 768
push jumptable 768
push jumptable 128
push jumptable 48
push jumptable 128
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 0
push jumptable -1
push jumptable 0
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 128
push jumptable -1
push jumptable 128
push jumptable -1
push jumptable 128
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 16
push jumptable 32
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 16
push jumptable 2048
push jumptable 96
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 32
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 32
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 16
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 16
push jumptable 32
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 128
push jumptable 2048
push jumptable 128
push jumptable -1
push jumptable 128
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 32
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 768
push jumptable 1792
push jumptable 1792
push jumptable 48
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 256
push jumptable -1
push jumptable 1280
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 256
push jumptable -1
push jumptable 1024
push jumptable -1
push jumptable 1792
push jumptable 64
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 256
push jumptable -1
push jumptable 1280
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1280
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1792
push jumptable 1792
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 256
push jumptable -1
push jumptable 1280
push jumptable -1
push jumptable 1792
push jumptable 48
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1792
push jumptable 1792
push jumptable 1792
push jumptable 16
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1280
push jumptable 1280
push jumptable 80
push jumptable -1
push jumptable 80
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 256
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1792
push jumptable 1792
push jumptable 64
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 256
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1792
push jumptable 1792
push jumptable 112
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 256
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1792
push jumptable 112
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 256
push jumptable -1
push jumptable 1024
push jumptable -1
push jumptable 1792
push jumptable 48
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1024
push jumptable 1792
push jumptable 1792
push jumptable 64
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1024
push jumptable 1024
push jumptable 64
push jumptable -1
push jumptable 64
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1792
push jumptable 1792
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 256
push jumptable -1
push jumptable 1792
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1792
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1792
push jumptable 768
push jumptable 48
push jumptable -1
push jumptable 48
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1792
push jumptable -1
push jumptable 1792
push jumptable -1
push jumptable 1792
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 256
push jumptable -1
push jumptable -1
push jumptable 80
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 64
push jumptable 64
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 64
push jumptable 1024
push jumptable 64
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 64
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1792
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1280
push jumptable 1280
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1280
push jumptable -1
push jumptable 1792
push jumptable 64
push jumptable 768
push jumptable 64
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1792
push jumptable 1024
push jumptable 1024
push jumptable 64
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1280
push jumptable 1280
push jumptable 64
push jumptable 64
push jumptable 64
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1792
push jumptable 768
push jumptable 768
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1280
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1280
push jumptable -1
push jumptable 1792
push jumptable -1
push jumptable 256
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 768
push jumptable 1280
push jumptable 48
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1792
push jumptable -1
push jumptable 1792
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1280
push jumptable 80
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 16
push jumptable 256
push jumptable 48
push jumptable -1
push jumptable 64
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 256
push jumptable 256
push jumptable 64
push jumptable 64
push jumptable 64
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 64
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 256
push jumptable 256
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 256
push jumptable -1
push jumptable 256
push jumptable -1
push jumptable 1792
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 256
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 80
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 16
push jumptable 256
push jumptable 16
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 768
push jumptable -1
push jumptable 1280
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1280
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1024
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 768
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1280
push jumptable 768
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1280
push jumptable -1
push jumptable 1280
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1792
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1024
push jumptable 768
push jumptable 768
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 256
push jumptable -1
push jumptable 1024
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1024
push jumptable -1
push jumptable 1024
push jumptable -1
push jumptable 1024
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 768
push jumptable -1
push jumptable 768
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 768
push jumptable -1
push jumptable 768
push jumptable -1
push jumptable 768
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 256
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1024
push jumptable 64
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 256
push jumptable 1024
push jumptable 64
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 64
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 256
push jumptable 768
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 256
push jumptable -1
push jumptable 1280
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1792
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 256
push jumptable 768
push jumptable 64
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 256
push jumptable -1
push jumptable 1024
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1024
push jumptable 64
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 256
push jumptable -1
push jumptable 768
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1792
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 768
push jumptable 768
push jumptable 64
push jumptable 64
push jumptable 64
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1024
push jumptable -1
push jumptable 1024
push jumptable 64
push jumptable 1024
push jumptable 64
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 64
push jumptable 1024
push jumptable 64
push jumptable -1
push jumptable 64
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 768
push jumptable -1
push jumptable 768
push jumptable -1
push jumptable 768
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 256
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1280
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 80
push jumptable 768
push jumptable 48
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 1280
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable -1
push jumptable 80
jumptable-end
return
